
html {
  height: 100%;
}

body {
  background-size:cover;
  background-color: cream;
  height: 100%;
}

h1 {
  color: black;
  font-family:fantasy;
  font-size: 50px;
  text-align:center;
}

.item {
  width:100px;
  height:50px;
}

.parallax {
  background-image: url("../img/galaxy.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.page-header {
  text-transform: uppercase;
  letter-spacing: .1em;
}
