body {
  margin-top: 35px;
  margin-bottom: 35px;
  padding: 20px;
  background-image: url("../Images/Background3.jpg");
  background-position: center;
  background-size: cover;
  font-family: fantasy;
  color: #e6ffe6;
}
h2 {
  margin: 10px;
}
nav {
  color: #cc99ff;
}

.jumbotron {
  background-color: rgba(0, 51, 0, 0.9);
}

nav a {
  color: green;
}

body > div > nav > a.nav-item.nav-link.active {
  background-color: green;
}

.checkboxes {
  margin: 20px;
}
/* h4, p {
  color: grey;
} */

.col-sm-4 {
  /* border-style: dotted;
  border-color: gray; */
}

.hidden {
  display: none;
}

/* #hobbit-result #galaxy-result {
  margin-bottom: 20px;
} */
