
html {
  height: 100%;
}

body {
  background-size:cover;
  background-color: #fff7e6;
  height: 100%;
}

h1 {
  font-size: 60px;
  font-family:cursive;
  text-align:center;
  color: #155724;
}
h5
  {
   font-size: 20px;
   font-family:cursive;
   text-align:center;
   color: #155724;
   margin: 15px;

}

.item {
  width:100px;
  height:50px;
}

.parallax {
  background-image: url("../img/rainbow2.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.page-header {
  text-transform: uppercase;
  letter-spacing: .2em;
}

h2 {
  margin: 15px;
}


a.nav-item.nav-link {
  color: #15572469;
}
a.nav-item.nav-link.active {
  color: black;
  background-color: #15572469;
  margin-left: 10px;
  margin-right: 10px;
}

nav {
  color: #cc99ff;
}


}
nav a {
  color: green;
}

.jumbotron {
  background-color: #15572469;
}

.checkboxes {
  margin: 20px;
  padding: 10px;
}


div.button-set {
  margin: 10px;
}

label.radio-inline {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0px;
  padding-bottom: 0px;

}
label.radio {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.hidden {
  display: none;
}

.button-set {
  text-align: left;
}

.rainbow-paragraph{
  font-family:inherit;
}
