
html {
  height: 100%;
}

body {
  background-size:cover;
  background-color: cream;
  height: 100%;
}

h1 {
  color: black;
  font-size: 40px;
  font-family:cursive;
  text-align:center;
  color: #000099
}

.item {
  width:100px;
  height:50px;
}

.parallax {
  background-image: url("../img/rainbow_park.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.page-header {
  text-transform: uppercase;
  letter-spacing: .2em;
}
