
html {
  height: 100%;
}

body {
  background-size:cover;
  background-color: #fff7e6;
  height: 100%;
}

h1 {
  color: black;
  font-family: cursive;
  font-size: 60px;
  text-align:center;
  color: #155724;
}

.item {
  width:100px;
  height:50px;
}

.parallax {
  background-image: url("../img/unicornbrown.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.page-header {

  letter-spacing: .2em;
}

/* to keep nav bar consistent with other pages */
a.nav-item.nav-link {
  color: #15572469;
}
a.nav-item.nav-link.active {
  color: #fff7e6;
  background-color: #15572469;
  margin-left: 10px;
  margin-right: 10px;
}

nav {
  color: #cc99ff;
}

nav a {
  color: green;
}
.jumbotron {
  background-color: #15572469;
}
